body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #5A2A82;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

.header-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px auto; /* Centrer l'image et ajouter un espace avec le texte */
    border-radius: 8px; /* Arrondir les coins de l'image si nécessaire */
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #5A2A82;
    font-weight: bold;
}

section {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    background: white;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #5A2A82;
    color: white;
    text-align: center;
    padding: 10px 0;
}

h1, h2 {
    color: #5A2A82;
}
